# Stack Overflow Developer Survey dataset

#### Load the dataset

In [1]:
import pandas as pd

In [2]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

##### Utilize the Pandas method read_csv() to load the data into a dataframe.

In [3]:
df = pd.read_csv(file_path)

### Explore the dataset

##### Display the top 5 rows and columns from your dataset.

In [4]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### Print the number of rows in the dataset.

In [5]:
print("Number of rows in the dataset:", df.shape[0])

Number of rows in the dataset: 65437

##### Print the number of columns in the dataset.

In [6]:
print("Number of columns in the dataset:", df.shape[1])

Number of columns in the dataset: 114

### Identify the data types of each column¶

##### Print the datatype of all columns.

In [7]:
print(df.dtypes)

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

##### Print the mean age of the survey participants.

In [9]:
# Define the age mapping for ranges to midpoints
age_mapping = {
    "Under 18 years old": 15,
    "18-24 years old": 21,
    "25-34 years old": 29.5,
    "35-44 years old": 39.5,
    "45-54 years old": 49.5,
    "55-64 years old": 59.5,
    "65 years or older": 70,
    "Prefer not to say": None
}

# Convert the Age column using the mapping and calculate the mean
df['AgeNumeric'] = df['Age'].map(age_mapping)
mean_age = df['AgeNumeric'].mean()

print("Mean age of survey participants:", mean_age)

Mean age of survey participants: 32.968432772786606

### The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column

In [13]:
# Print the number of unique countries in the 'Country' column
unique_countries = df['Country'].nunique()
print("Number of unique countries in the survey:", unique_countries)

Number of unique countries in the survey: 185